<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        p {
            text-align: center;
            margin-top: 10px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 20px auto;
            max-width: 200px;
            text-align: center;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            display: block;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            transition: background-color 0.3s;
        }

        a:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <h1>Weather App</h1>
    <p>Select a city to view weather:</p>
    <ul>
        {{#each cities}}
        <li><a href="{{this.link}}">{{this.name}}</a></li>
        {{/each}}
    </ul>
    {{#if submittedCity}}
    <p>Weather for {{submittedCity}}:</p>
    {{/if}}
 
</body>
</html>